h1 {
  color: #181D31;
  font-size: 150%;
}

p{
  color: #181D31;
  font-family: sans-serif;
  text-indent: 20px;
  margin-left: 10px;
}

body{
  background-color: #94B3FD;
}

img{
  max-width: 75%;
  height: auto;
}

div{
  white-space: pre-wrap;
}

script{
  color: #683355;
  font-family: sans-serif;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  width: 1500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;

}

#output{
  color: #181D31;
  font-family: sans-serif;
  font-size: 30px;
}

#button{
  
}
